[core]
    fsmonitor = true # only on mac and windows
    untrackedCache = true
    hooksPath = /home/dark/dotfiles/git-hooks

[feature]
    experimental = true

[user]
    email = dark@dark.red
    name = darkwater
    signingkey = ~/.ssh/id_ed25519

[gpg]
    format = ssh

[commit]
    gpgsign = true
    verbose = true

[init]
    defaultBranch = master

[alias]
    a = "add --all"
    aa = "add --all"
    ap = "add --all --patch"
    ca = "commit --all"
    c = "commit"
    ci = "commit"
    amend = "commit --amend"
    co = "checkout"
    d = "diff"
    di = "diff"
    dc = "diff --cached"
    f = "fetch"
    s = "status"
    st = "status"
    sw = "switch"
    l = "log --graph --abbrev=8 --date=relative"
    la = "log --branches --graph --abbrev=8"
    pf = "push --force"
    pou = "push --set-upstream origin"

[log]
    date = "format:%d %b"

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[format]
    pretty = format:%C(auto,yellow)%h %C(auto,blue)%>(6,trunc)%ad %C(auto,green)%<(7,trunc)%aN  %C(auto,reset)%s%C(auto,red)% gD% D % N

[pager]
    blame = delta
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    hyperlinks = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[rebase]
    autoSquash = true
    autoStash = false
    updateRefs = true

[diff]
    tool = nvim
    colorMoved = default
    algorithm = histogram
    mnemonicPrefix = true
    renames = true

[difftool]
    prompt = false

[difftool.nvim]
    cmd = nvim -d $LOCAL $REMOTE

[rerere]
    enabled = true
    autoupdate = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true
    tags = true

[pull]
    rebase = true

[fetch]
    prune = true
    ; pruneTags = true
    all = true
