[user]
	email = dark@dark.red
	name = darkwater

[commit]
	gpgsign = no

[init]
	defaultBranch = master

[alias]
    a = "add --all"
    aa = "add --all"
    ca = "commit --all --verbose"
    c = "commit --verbose"
    ci = "commit --verbose"
    co = "checkout"
    d = "diff"
    di = "diff"
    dc = "diff --cached"
    s = "status"
    st = "status"
    l = "log --graph --abbrev=8"
    la = "log --all --graph --abbrev=8"
    pou = "push -u origin"

[log]
    date = relative

[format]
    pretty = format:%C(auto,yellow)%h %C(auto,blue)%>(8,trunc)%ad %C(auto,green)%<(7,trunc)%aN  %C(auto,reset)%s%C(auto,red)% gD% D

[pager]
    blame = delta
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    hyperlinks = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[push]
    autoSetupRemote = yes
