[core]
    pager = delta

[user]
	email = dark@dark.red
	name = Sam Lakerveld

[commit]
	gpgsign = yes

[init]
	defaultBranch = master

[alias]
    a = "add --all"
    aa = "add --all"
    ca = "commit --all --verbose"
    c = "commit --verbose"
    ci = "commit --verbose"
    co = "checkout"
    d = "diff"
    di = "diff"
    dc = "diff --cached"
    s = "status"
    st = "status"
    l = "log --oneline --graph"
    pou = "push -u origin"

[pager]
    blame = delta
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = base16
    navigate = true
    hyperlinks = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
