[global_config]
  custom_url_handler = xdg-open
  enabled_plugins = CustomCommandsMenu, TerminalShot, LaunchpadBugURLHandler
  use_custom_url_handler = True
  geometry_hinting = False
  title_transmit_bg_color = "#000000"
  inactive_color_offset = 1.0
  title_inactive_bg_color = "#000000"
[keybindings]
  cycle_prev = None
  zoom_in = None
  go_up = None
  zoom_out = None
  close_window = None
  full_screen = None
  zoom_normal = None
  go_down = None
  close_term = None
  cycle_next = None
  go_right = None
  go_left = None
  hide_window = <Shift><Control>a
[profiles]
  [[default]]
    foreground_color = "#c5c8c6"
    palette = "#1d1f21:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#d3d7cf:#717171:#fb9090:#dfe885:#ffe0a2:#a2c5e2:#cfa8db:#b3dfd9:#eeeeec"
    copy_on_selection = True
    use_system_font = False
    background_darkness = 0.9
    urgent_bell = True
    background_type = transparent
    active_encodings = ANSI_X3.4-1968, UTF-8, ISO-8859-1
    scroll_background = False
    background_image = None
    scroll_on_output = False
    scrollbar_position = hidden
    show_titlebar = False
    color_scheme = custom
    font = Droid Sans Mono 10
    background_color = "#1d1f21"
    scrollback_lines = 5000
    audible_bell = True
  [[aa]]
    palette = "#000000:#aa0000:#00aa00:#aa5500:#0000aa:#aa00aa:#00aaaa:#aaaaaa:#555555:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#ffffff"
    background_darkness = 0.33
    background_type = transparent
    use_system_font = False
    foreground_color = "#999999"
    icon_bell = False
    show_titlebar = False
    font = Droid Sans Mono 10
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
