[global_config]
  custom_url_handler = xdg-open
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  use_custom_url_handler = True
  geometry_hinting = False
  title_transmit_bg_color = "#000000"
  inactive_color_offset = 1.0
  title_inactive_bg_color = "#000000"
[keybindings]
  cycle_prev = None
  next_tab = None
  close_window = None
  group_tab = None
  move_tab_right = None
  resize_left = None
  rotate_ccw = None
  reset_clear = None
  go_right = None
  new_tab = None
  resize_right = None
  resize_down = None
  toggle_zoom = None
  scaled_zoom = None
  zoom_in = None
  group_all = None
  full_screen = None
  prev_tab = None
  split_vert = None
  ungroup_all = None
  ungroup_tab = None
  paste = <Primary><Shift>v
  cycle_next = None
  zoom_out = None
  go_prev = None
  close_term = None
  new_terminator = None
  go_next = None
  go_left = None
  hide_window = None
  reset = None
  search = None
  go_up = None
  resize_up = None
  rotate_cw = None
  split_horiz = None
  zoom_normal = None
  go_down = None
  new_window = None
  move_tab_left = None
  toggle_scrollbar = None
[profiles]
  [[default]]
    foreground_color = "#c5c8c6"
    palette = "#000204:#cd0000:#00cd00:#b8b800:#1e90ff:#cd00cd:#00cdcd:#e5e5e5:#4c4c4c:#ff0000:#00ff00:#ffff00:#4682b4:#ff00ff:#00ffff:#ffffff"
    background_image = None
    background_darkness = 0.86
    urgent_bell = True
    background_type = transparent
    use_system_font = False
    cursor_color = "#848484"
    scroll_background = False
    scroll_on_output = False
    icon_bell = False
    scrollbar_position = hidden
    show_titlebar = False
    color_scheme = custom
    font = Droid Sans Mono 8
    background_color = "#000204"
    scrollback_lines = 5000
    cursor_blink = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
