[global_config]
  custom_url_handler = xdg-open
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  use_custom_url_handler = True
  geometry_hinting = False
  title_transmit_bg_color = "#000000"
  inactive_color_offset = 1.0
  title_inactive_bg_color = "#000000"
[keybindings]
  cycle_prev = None
  zoom_in = None
  go_up = None
  zoom_out = None
  close_window = None
  full_screen = None
  zoom_normal = None
  go_down = None
  close_term = None
  cycle_next = None
  go_right = None
  go_left = None
  hide_window = <Shift><Control>a
[profiles]
  [[default]]
    foreground_color = "#c5c8c6"
    palette = "#1d1f21:#cc6666:#b5bd68:#f0c674:#81a2be:#b294bb:#8abeb7:#d3d7cf:#717171:#fb9090:#dfe885:#ffe0a2:#a2c5e2:#cfa8db:#b3dfd9:#eeeeec"
    background_image = None
    background_darkness = 0.86
    urgent_bell = True
    background_type = transparent
    use_system_font = False
    cursor_color = "#aeafad"
    scroll_background = False
    scroll_on_output = False
    icon_bell = False
    scrollbar_position = hidden
    show_titlebar = False
    color_scheme = custom
    font = Droid Sans Mono 10
    background_color = "#1d1f21"
    scrollback_lines = 5000
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
