:root {
	--zen-main-browser-background: rgba(33, 39, 51, 0.92) !important;
}

#tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer browser[transparent='true'] {
    background: transparent !important;
}

#tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    box-shadow: none !important;
}
