@-moz-document domain(github.com) {
    :root {
        --bgColor-default: transparent !important;
    }

    .TimelineItem::before {
        /* the line going through all timeline items in issues/prs */
        background: none !important;
    }
}

@-moz-document domain(news.ycombinator.com) {
    html, body, table {
        background-color: transparent !important;
    }
}

@-moz-document domain(doc.rust-lang.org) {
    :root[data-theme="ayu"] {
        --table-alt-row-background-color: #191f2680 !important;
        html, body, .sidebar { background-color: transparent !important; }
        .nav-container { backdrop-filter: opacity(50%) !important; }
    }
}
@-moz-document domain(docs.rs) {
    :root[data-theme="ayu"] {
        --table-alt-row-background-color: #191f2680 !important;
        html, body, .sidebar { background-color: transparent !important; }
        .nav-container { backdrop-filter: opacity(50%) !important; }
    }
}
@-moz-document domain(docs.embassy.dev) {
    :root[data-theme="ayu"] {
        --table-alt-row-background-color: #191f2680 !important;
        html, body, .sidebar { background-color: transparent !important; }
        .nav-container { backdrop-filter: opacity(50%) !important; }
    }
}
@-moz-document domain(rustdocs.comforest.software) {
    :root[data-theme="ayu"] {
        --table-alt-row-background-color: #191f2680 !important;
        html, body, .sidebar { background-color: transparent !important; }
        .nav-container { backdrop-filter: opacity(50%) !important; }
    }
}
@-moz-document domain(localhost) {
    :root[data-theme="ayu"] {
        --table-alt-row-background-color: #191f2680 !important;
        html, body, .sidebar { background-color: transparent !important; }
        .nav-container { backdrop-filter: opacity(50%) !important; }
    }
}

@-moz-document domain(chatgpt.com) {
    :root {
        --bg-primary: transparent !important;
        --main-surface-background: transparent !important;
        --main-surface-primary: transparent !important;
        --sidebar-surface-primary: transparent !important;
        --bg-elevated-secondary: transparent !important;
    }

    [dir="ltr"] .horzScrollShadows {
        background: transparent !important;
    }

    body > picture {
        display: none !important;
    }
}

@-moz-document domain(youtube.com) {
    html[dark], [dark] {
        background-color: transparent !important;
        --yt-spec-base-background: transparent !important;
    }

    #frosted-glass.with-chipbar.ytd-app {
        background-color: transparent !important;
    }

    @media (width: 1398px) {
        ytd-watch-flexy[full-bleed-player] #full-bleed-container.ytd-watch-flexy {
            max-height: calc(100vh) !important;
            z-index: 999999 !important;
        }

        .ytp-contextmenu {
            z-index: 9999999 !important;
        }

        #page-manager.ytd-app {
            margin-top: 0 !important;
        }
    }
}

@-moz-document domain(fbk.red) {
    :root {
        --background: transparent !important;
    }
}

@-moz-document domain(git.comforest.software) {
    .item[href$="/settings/units"] {
        display: none !important;
    }

    html {
        --color-body: transparent !important;
        --color-nav-bg: transparent !important;
        --color-secondary-nav-bg: transparent !important;
    }
}
