:root {
	--zen-main-browser-background: rgba(33, 39, 51, 0.92) !important;
}

#tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer browser[transparent='true'] {
    background: transparent !important;
}

#tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    box-shadow: none !important;
}

:root[zen-single-toolbar="true"] #zen-appcontent-navbar-container {
  max-height: var(--zen-element-separation) !important;
}

:root[inDOMFullscreen="true"] #zen-appcontent-navbar-container {
  display: none !important;
}

#customization-panelWrapper {
  --panel-arrow-offset: 0px !important;
}
