@-moz-document domain(github.com) {
    :root {
        --bgColor-default: transparent !important;
    }

    .TimelineItem::before {
        /* the line going through all timeline items in issues/prs */
        background: none !important;
    }
}

@-moz-document domain(news.ycombinator.com) {
    html, body, table {
        background-color: transparent !important;
    }
}

@-moz-document domain(docs.rs) {
    body, .sidebar { background-color: transparent !important; }
    .nav-container { backdrop-filter: opacity(50%) !important; }
}
@-moz-document domain(docs.embassy.dev) {
    body, .sidebar { background-color: transparent !important; }
    .nav-container { backdrop-filter: opacity(50%) !important; }
}
@-moz-document domain(rustdocs.comforest.software) {
    html, body, .sidebar { background-color: transparent !important; }
    .nav-container { backdrop-filter: opacity(50%) !important; }
}

@-moz-document domain(chatgpt.com) {
    :root {
        --bg-primary: transparent !important;
        --main-surface-background: transparent !important;
        --main-surface-primary: transparent !important;
        --sidebar-surface-primary: transparent !important;
        --bg-elevated-secondary: transparent !important;
    }

    [dir="ltr"] .horzScrollShadows {
        background: transparent !important;
    }

    body > picture {
        display: none !important;
    }
}

@-moz-document domain(youtube.com) {
    html[dark], [dark] {
        background-color: transparent !important;
        --yt-spec-base-background: transparent !important;
    }

    #frosted-glass.with-chipbar.ytd-app {
        background-color: transparent !important;
    }
}

@-moz-document domain(fbk.red) {
    :root {
        --background: transparent !important;
    }
}

@-moz-document domain(git.comforest.software) {
    .item[href$="/settings/units"] {
        display: none !important;
    }

    html {
        --color-body: transparent !important;
        --color-nav-bg: transparent !important;
        --color-secondary-nav-bg: transparent !important;
    }
}
