:root {
	--zen-main-browser-background: rgba(15, 20, 25, 0.9) !important;
}

#tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer browser[transparent='true'] {
    background: rgba(255, 255, 255, 0.0) !important;
}

#tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    box-shadow: none !important;
}
