/*
 * $ GTK_DEBUG=interactive waybar
 *
 *   window #waybar .background .bottom .eDP-1 .mode-default
 *   ├─ decoration
 *   └─ box .horizontal
 *      ├─ box .horizontal .modules-left
 *      │  └─ widget
 *      │     └─ box #workspaces .horizontal .module
 *      │        ├─ button .active .flat .hosting-monitor .visible :hover
 *      │        ├─ button .flat .visible :hover
 *      │        └─ button .flat :hover
 *      ├─ box .horizontal .modules-center
 *      │  └─ widget
 *      │     └─ box #window .horizontal .module :hover
 *      │        └─ label
 *      └─ box .horizontal .modules-right
 *         ├─ widget
 *         │  └─ label #pulseaudio .module :hover
 *         ├─ widget
 *         │  └─ box #tray .horizontal .module :hover
 *         │     ├─ widget .active
 *         │     │  ├─ image
 *         │     │  └─ window
 *         │     │     ├─ decoration
 *         │     │     └─ menu
 *         │     │        ├─ arrow
 *         │     │        ├─ menuitem
 *         │     │        │  ├─ check
 *         │     │        │  └─ label
 *         │     │        ├─ separator
 *         │     │        ├─ menuitem :disabled
 *         │     │        └─ arrow
 *         │     ├─ widget .active
 *         │     └─ widget .active
 *         ├─ widget
 *         │  └─ label #battery .charging .module :hover
 *         └─ widget
 *            └─ label #clock .module :hover
 */

@import "mocha.css";

* {
    font-family: Hack Nerd Font;
    font-size: 14px;
    margin: 0;
}

window#waybar {
    /* background: linear-gradient(180deg, alpha(black, 0.0), black); */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.000)  0.0%,
        rgba(0, 0, 0, 0.013)  6.4%,
        rgba(0, 0, 0, 0.049) 13.2%,
        rgba(0, 0, 0, 0.104) 20.3%,
        rgba(0, 0, 0, 0.175) 27.6%,
        rgba(0, 0, 0, 0.259) 35.0%,
        rgba(0, 0, 0, 0.352) 42.5%,
        rgba(0, 0, 0, 0.450) 50.0%,
        rgba(0, 0, 0, 0.550) 57.4%,
        rgba(0, 0, 0, 0.648) 64.7%,
        rgba(0, 0, 0, 0.741) 71.6%,
        rgba(0, 0, 0, 0.825) 78.3%,
        rgba(0, 0, 0, 0.896) 84.5%,
        rgba(0, 0, 0, 0.951) 90.3%,
        rgba(0, 0, 0, 0.987) 95.5%,
        rgba(0, 0, 0, 1.000)  100%
    );
    /* background: linear-gradient(90deg, @rosewater, @flamingo, @pink, @mauve, @red, @maroon, @peach, @yellow, @green, @teal, @sky, @sapphire, @blue, @lavender); */
    /* background: linear-gradient(90deg, @text, @subtext1, @subtext0, @overlay2, @overlay1, @overlay0, @surface2, @surface1, @surface0, @base, @mantle, @crust); */
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar > box {
    margin: 0px;
}

button {
    border: none;
    border-radius: 0;
    padding: 8px 10px 4px 10px;
    margin: 0;
    box-shadow: inset 0 0 transparent;
    transition: box-shadow 0.2s;
}

button:hover {
    background: inherit;
}

.module {
    padding: 8px 10px 4px 10px;
    margin: 0;
}

.module#workspaces {
    padding: 0;
}

#workspaces button                                { color: #707070; }
#workspaces button.persistent.empty:not(.visible) { color: #404040; }
#workspaces button.hosting-monitor                { color: @text; }
#workspaces button.hosting-monitor.visible        { color: @sapphire; }
#workspaces button.hosting-monitor.active         { color: @sapphire; }
#workspaces button.urgent                         { color: @red; }

#workspaces button:hover {
    box-shadow: inset 0 -2px @overlay2;
}

#workspaces button.empty {
    padding-left: 8px;
    padding-right: 2px;
}


/* .modules-left > widget:first-child > #workspaces { margin-left: 0; } */
/* .modules-right > widget:last-child > #workspaces { margin-right: 0; } */

#clock             { color: @pink; }
#battery           { color: @maroon; }
#battery.mouse     { color: @peach; }
#cpu               { color: @yellow; }
#network           { color: @green; }
#bluetooth         { color: @sapphire; }
#wireplumber       { color: @lavender; }
#wireplumber.muted { color: #aaaaaa; }

#custom-3dp        { color: @sky; }

#battery.critical:not(.charging) {
    animation-name: battery-blink;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes battery-blink {
    50% { opacity: 0; }
    to  { opacity: 1; }
}
